:root {
  font-size: 62.5%;
}

body {
  background: rgb(214, 200, 200);
  font-family: Verdana;
  max-width: 80rem;
  margin: auto;

}

.foto {
  width: 15rem;
  height: 15rem;

  border-radius: 50%;
  border: 0.1rem solid rgb(7, 7, 7);

  margin-top: 2rem;
  margin-bottom: 1rem;
  
}

div {
  margin: 0;
  margin-bottom: 1.5rem;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  text-align: justify;
}

.title {
  color: rgb(65, 57, 57);

  font-size: 3.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtitle, .post_title {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 1.5rem;
  color: rgb(65, 57, 57);

}

.post {
  background: white;
  
  border: 0.2rem solid rgb(65, 57, 57);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

.capacode {
  width: 100%;
  height: 28rem;

  margin-bottom: 1.5rem;
}

.post_content {
  margin: 0;
  margin-bottom: 1.5rem;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;

  text-align: justify;
}

.list {
  padding-left: 1.5rem;
  list-style-type: none;
  font-size: 1.6rem;
  background: white;
  border: 2px solid black;

}

.list li a {
  text-decoration: none;
}